body{
    font-family: "PT Sans";
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

h1.title{

    font-size: 3rem;
}

div.sourceCode{
    background-color: #efefef;
}

div.sourceCode > pre {
    padding-left: 1rem;
}

pre {
    background-color: #efefef;
}

pre.config {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
}
